$light-blue: #0070f3;

$card-pattern-color-computer: #d12d36;
$card-pattern-color-player: #444cf7;
$card-background-color: #e5e5f7;
$card-pattern-size: 1.5rem;

//dark color palette
$background: #222831;
$main: #222831; //#393e46;
$main--alt: darken($main, 10%);
$main--text: #fff;
$secondary: lighten(#00adb5, 10%);
$secondary--alt: darken($secondary, 5%);
$secondary--text: #fff;
$highlights: #eeeeee;
$text: hsl(0, 0%, 20%);
