@use "./abstracts" as *;

.app {
  margin: 0;
}

.main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 2rem 1rem;
}
